# NS datadump compressed xml files
*.xml.gz

# By default, ignore any data files
*.csv
*.json
*.txt
*.xml

# Include certain data files
!legendaryCards.json
!cardlist_S1.xml.gz
!cardlist_S2.xml.gz

# Ignore pycache
__pycache__/

# Ignore vscode folder
.vscode/

# Ignore mypy cache
.mypy_cache/
