# By default, ignore any data files
*.csv
*.tsv
*.json
*.txt
*.xml.gz
*.xml
*.gz
*.log

# Include certain data files
!legendaryCards.json
!resources/cardlist_S1.xml.gz
!resources/cardlist_S2.xml.gz

# Ignore pycache
__pycache__/

# Ignore vscode folder
.vscode/

# Ignore mypy cache
.mypy_cache/

# Lock file
poetry.lock
