# NS datadump compressed xml files
*.xml.gz

# By default, ignore any data files
*.csv
*.json
*.txt
*.xml

# Ignore pycache
__pycache__/

# Ignore vscode folder
.vscode/

# Ignore mypy cache
.mypy_cache/
